Redirect Permanent /blueprint/xmlns/blueprint-cm/v1.0.0  /schemas/blueprint-cm/blueprint-cm-1.0.0.xsd
Redirect Permanent /blueprint/xmlns/blueprint-cm/v1.1.0  /schemas/blueprint-cm/blueprint-cm-1.1.0.xsd
Redirect Permanent /blueprint/xmlns/blueprint-ext/v1.1.0 /schemas/blueprint-ext/blueprint-ext-1.1.xsd
Redirect Permanent /blueprint/xmlns/blueprint-ext/v1.0.0 /schemas/blueprint-ext/blueprint-ext.xsd
Redirect Permanent /xmlns/transactions/v1.0.0 /schemas/transaction/transactionv10.xsd
Redirect Permanent /xmlns/transactions/v1.1.0 /schemas/transaction/transactionv11.xsd
Redirect Permanent /xmlns/jpa/v1.0.0 /schemas/jpa/jpa.xsd
Redirect Permanent /xmlns/jpa/v1.1.0 /schemas/jpa/jpa_110.xsd


